.stTextArea>div>div>div>textarea {
    color: black;
}

.stTextArea>div>div>div>textarea::placeholder {
    color: black;
}

.stTextArea>div>div>div>span {
    color: black;
}

header {
    visibility: hidden;
}

#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

/*footer:after {
    content: "";
    visibility: visible;
    display: block;
    position: relative;
    padding: 5px;
    top: 2px;
}*/